EXECUTOR_BIND_ADDRESS=0.0.0.0
EXECUTOR_PORT=4100
EXECUTOR_BACKEND_MODE=docker
EXECUTOR_SIGNING_KEY_ID=executor-key-1
EXECUTOR_SIGNING_SECRET=replace-me
RUNWAY_CALLBACK_BASE_URL=http://127.0.0.1:3000
RUNWAY_CALLBACK_TIMEOUT_SECONDS=10
EXECUTOR_HEARTBEAT_ENABLED=true
EXECUTOR_HEARTBEAT_INTERVAL_SECONDS=30
EXECUTOR_REGISTRATION_NAME=executor-nonp
EXECUTOR_REGISTRATION_ENDPOINT=http://127.0.0.1:4100
#DOCKER_HOST=unix:///var/run/docker.sock
DOCKER_HOST=tcp://10.0.0.48:2375
EXECUTOR_ENABLE_DOCKER_LOCAL_COMMANDS=false
EXECUTOR_DOCKER_DEFAULT_TIMEOUT_SECONDS=900
EXECUTOR_DOCKER_WORKDIR=/tmp/runway-executor
KUBERNETES_NAMESPACE=runway-builds
